<div>
    <h1 class="grey">Hello,{{customer}}</h1>

    <h1 class="grey">{{componentName}}</h1>
    <!-- <input class="form-control" type="text" 
    (input)="getItem($event)"
    [value] ="item"> -->
    <input class="form-control" type="text" [(ngModel)]="item">

    <button [disabled]='btnDisabled' (click)="addToCart()"
    class="btn btn-success w-100">Add</button>


    <ul *ngIf="cart.length; else alert" class="list-group">
        <li class="list-group-item" 
        *ngFor="let it of cart; let i=index"
        [ngStyle]="{'background':i%2 ? bg:''}"
        [ngClass]="{'list-group-item-danger':!(i%2)}">
           {{i+1}}. {{it.name | shorten: 4 | uppercase}} ({{it.time | date : 'dd/MMM'}})
        </li>
    </ul>
    <ng-template #alert>
        <p  class="alert alert-danger"> Cart is empty</p>
    </ng-template>
</div>